body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
}

header {
    background-color: #fbe07f;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#logo {
    height: 80px;
}

.navbarbutton {
    display: inline-block;
    padding: 10px;
    background-color: #e2b616;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.ativado {
    background-color: #d49713;
}

main {
    padding: 20px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}